.siteTitle {
    color: #EBB74C;
    font-weight: 300;
    letter-spacing: .25em;
    padding: 0;
    margin-top: -.25em;
    margin-bottom: 0;
}
.siteDescription {
    color: #EBB74C;
    font-weight: 300;
    font-size: .8em;
    padding: 0;
    margin: 0%;
}
